--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch==2.2.2
torchvision==0.17.2
transformers
safetensors
dgenerate-ultralytics-headless
streamlit
Pillow
pandas
requests